@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contactPageSection {
	padding: 0 1rem 5.5rem;
	@include displayFlexColumn;
	gap: 2rem;
	position: relative;
	&__contactPageSectionContentContainer {
		width: min(100%, 45rem);
		@include displayFlexColumn;
		gap: 1rem;
	}
	@include respond(tab-port) {
		&__contactPageSectionContentContainer {
			width: min(100%, 65rem);
		}
	}
	@include respond(tab-land) {
		align-items: flex-start;
		&__contactPageSectionContentContainer {
			width: min(100%, 110rem);
			align-items: flex-start;
		}
	}
	@include respond(desk) {
		&__contactPageSectionContentContainer {
			width: min(100%, 125rem);
			align-items: flex-start;
		}
	}
}

.contactDetailsSection {
	&__contactDetailsContentContainer {
		@include displayFlexColumn;
	}
	&__contactDetailsTextContainer {
		@include displayFlexColumn;
	}
	@include respond(tab-land) {
		&__contactDetailsContentContainer {
			@include displayFlexRow;
			gap: 2rem;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__contactDetailsTextContainer {
			width: min(55%, 75rem);
			@include displayFlexColumn;
			align-items: flex-start;
		}
	}
	@include respond(desk) {
		&__contactDetailsContentContainer {
			width: min(100%, 115rem);
			gap: 8rem;
		}
	}
}

.availabilityDetailsSection {
	&__availabilityDetailsContentContainer {
		@include displayFlexColumn;
	}
	&__availabilityDetailsTextContainer {
		@include displayFlexColumn;
	}
	@include respond(tab-land) {
		&__availabilityDetailsContentContainer {
			@include displayFlexRow;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 3rem;
		}
		&__availabilityDetailsTextContainer {
			width: min(55%, 75rem);
			@include displayFlexColumn;
			align-items: flex-start;
		}
	}
	@include respond(desk) {
		&__availabilityDetailsContentContainer {
			width: min(100%, 115rem);
			gap: 8rem;
		}
	}
	.availabilityCard {
		@include respond(tab-land) {
			flex: 0 0 31.5rem;
		}
	}
	&__hoursList {
		border-radius: 0.5rem;
		margin-top: 1rem;
		width: min(100%, 35rem);
		@include displayFlexColumn;
		align-items: stretch;
		gap: 1rem;
		@include respond(tab-land) {
			padding: 0 0 0 2rem;
			align-items: flex-start;
		}
	}
	li {
		@include displayFlexColumn;
		gap: 0.25rem;
		span {
			background: linear-gradient(to bottom right, rgba($cp-blue, 1), rgba($cp-darkBlue, 1));
			border: 1px solid rgba($cp-darkBlue, 0.25);
			border-radius: 0.5rem;
			box-shadow: 0px 0px 25px 5px rgba($cp-dark, 0.25);
			padding: 0.2rem 2rem;
			width: 65%;
		}
		@include respond(tab-land) {
			@include displayFlexRow;
			span {
				width: fit-content;
			}
		}
	}
}

.contactFormSection {
	@include displayFlexColumn;
	gap: 2rem;
	&__formContainer {
		width: 100%;
	}
}

.faqSection {
	padding: 0rem 1rem 15rem;
	&__faqContainer {
		@include displayFlexColumn;
		gap: 2rem;
	}
}
