@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  &__logoContainer {
    background: url("/img/background/HeroAndFooterBgLandscape.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
