@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
	position: relative;
	background: url("/img/background/HeroAndFooterBgPortrait.webp");
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 1rem 1rem 10rem;
	margin-bottom: 4rem;
	@include respond(tab-land) {
		padding: 1rem 5rem 2rem;
	}
}
.heroSection {
	@include displayFlexColumn;
	gap: 0;
	width: min(100%, 45rem);
	margin: 7rem auto 0;
	&__logoImage {
		display: block;
		width: clamp(16rem, 70vw, 40rem);
		height: auto;
		&--designPage {
			width: clamp(12rem, 42vw, 30rem);
		}
	}
	&__headingAndCtaContainer {
		@include displayFlexColumn;
		gap: 2rem;
		margin-top: -3rem;
	}
	&__headingIntro,
	&__ctaIntroParagraph {
		width: min(95%, 32rem);
	}
	&__headingIntro {
		margin-top: 1.75rem;
	}
	&__heroIntro--designPage {
		margin-top: 1rem;
	}
	&__pagelink {
		color: rgba($cf-blue, 1);
		text-decoration: underline solid 1px;
		text-underline-offset: 5px;
		transition:
			color 0.3s,
			transform 0.3s;
		&:hover {
			color: rgba($cf-red, 1);
			transform: scale(1.05);
		}
	}
	&__ctaContainer {
		@include displayFlexColumn;
		gap: 1rem;
	}
	&__ctaContainer--designPage {
		gap: 2.25rem;
	}
	&__ctaButtonContainer {
		@include displayFlexColumn;
		gap: 1.75rem;
	}
	@media (min-width: 400px) {
		&__headingIntro,
		&__ctaIntroParagraph {
			width: min(95%, 35rem);
		}
		&__heroIntro--designPage {
			margin-top: 1rem;
		}
	}
	@media (min-width: 450px) {
		&__headingIntro,
		&__ctaIntroParagraph {
			width: min(95%, 40rem);
		}
		&__heroIntro--designPage {
			margin-top: 1.5rem;
		}
	}
	@include respond(tab-port) {
		&__heroIntro--designPage {
			margin-top: 2rem;
		}
	}
	@include respond(tab-land) {
		width: 100%;
		padding: 0 0 7rem;
		margin: 10rem 0 0;
		@include displayFlexRow;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 5rem;
		&__logoImage {
			// width: clamp(22rem, 27vw, 30rem);
			width: 100%;
		}
		&__figure {
			flex: 0 0 28rem;
		}
		&__heroIntro--designPage,
		&__heroIntro--contactPage {
			margin-top: 1.75rem;
		}
		&__headingAndCtaContainer {
			flex: 0 0 60%;
			margin-bottom: 5rem;
			align-items: flex-start;
			&--designPage,
			&--contactPage {
				flex: 0 0 55%;
			}
		}
		&__ctaContainer {
			align-items: flex-start;
		}
		&__ctaButtonContainer {
			@include displayFlexRow;
			justify-content: flex-start;
			gap: 2rem;
		}
	}
	@include respond(desk) {
		width: min(100%, 95rem);
		gap: 6rem;
		&__figure {
			flex: 0 0 23rem;
		}
		&__headingAndCtaContainer {
			flex: 1 0 60%;
		}
		&__headingIntro,
		&__ctaIntroParagraph {
			width: 100%;
		}
	}
	@media (max-height: 500px) {
		margin: 0rem auto 0;
	}
}
.headingH1 {
	@include displayFlexColumn;
	gap: clamp(1.25rem, 4.5vw, 1.75rem);
	&__primaryHeading {
		@include displayFlexColumn;
		gap: 0;
		position: relative;
	}
	&__title {
		@include displayFlexRow;
		gap: 0;
	}
	&__subtitle {
		position: absolute;
		top: min(18vw, 6rem);
		left: 0;
		right: 0;
	}
	&__letterS {
		margin-bottom: 0rem;
	}
	&__lettersTheRest {
		margin-bottom: -1.25rem;
	}
	@media (min-width: 350px) {
		&__subtitle {
			top: min(18vw, 7.5rem);
		}
	}
	@media (min-width: 450px) {
		&__subtitle {
			top: min(18vw, 8.5rem);
		}
	}
	@include respond(tab-land) {
		width: 100%;
		align-items: flex-start;
		&__subtitle {
			text-align: left;
		}
		&__subtitleLinebreak {
			display: none;
		}
	}
}
