@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main {
	&__aboutSection,
	&__servicesSection,
	&__portfolioSection,
	&__skillsSection {
		position: relative;
		padding: 0 2rem 15rem;
	}
}

.aboutSection {
	@include displayFlexColumn;
	gap: 3rem;
	background: url("/img/about/AboutMeBackgroundImage.webp");
	background-position-x: center;
	background-position-y: 8rem;
	background-size: min(100vw, 30rem);
	background-repeat: no-repeat;
	&__aboutContentContainer {
		@include displayFlexColumn;
		gap: 2rem;
		width: min(100%, 45rem);
	}
	&__aboutSectionCta {
		margin-top: 3rem;
		padding: 3rem 2rem;
		background-color: rgba($cp-darkBlue, 0.15); /* or a subtle accent */
		border-radius: 1rem;
		text-align: center;
		box-shadow: 0px 0px 24px 4px rgba($cp-dark, 0.1);
	}
}

.servicesSection {
	@include displayFlexColumn;
	gap: 3rem;
	&__servicesContentContainer {
		@include displayFlexColumn;
		gap: 2rem;
	}
	&__servicesCardContainer {
		@include displayFlexColumn;
		gap: 7rem;
		padding: 1rem;
		margin-top: 3rem;
	}
}

.skillsSection {
	@include displayFlexColumn;
	gap: 3rem;
	&__skillsContentContainer {
		@include displayFlexColumn;
		gap: 3rem;
		width: min(100%, 45rem);
	}
	&__skills,
	&__tech {
		@include displayFlexColumn;
		gap: 2rem;
	}
	&__skillsCardContainer {
		@include displayFlexColumn;
		gap: 2rem;
	}
	&__techStackContainer {
		@include displayFlexRow;
		align-items: flex-end;
		column-gap: 3rem;
		row-gap: 4rem;
		flex-wrap: wrap;
	}
	&__techStackIconWrapper {
		@include displayFlexColumn;
		justify-content: flex-end;
		position: relative;
	}
	&__techStackIconShadow {
		position: absolute;
		bottom: -2.5rem; /* Adjust vertical offset */
		left: 50%;
		transform: translateX(-50%);
		width: 60px; /* Oval width */
		height: 15px; /* Oval height */
		background: rgba(0, 0, 0, 0.2); /* Shadow color */
		border-radius: 50%;
		filter: blur(5px);
		z-index: -1; /* Push behind the icon */
	}
	&__skillsSectionCta {
		margin-top: 5rem;
		padding: 3rem 2rem;
		background-color: rgba($cp-darkBlue, 0.15); /* or a subtle accent */
		border-radius: 1rem;
		text-align: center;
		box-shadow: 0px 0px 24px 4px rgba($cp-dark, 0.1);
	}
}
