@use "../abstracts/variables" as *;
.sectionHeading {
  width: 100%;
  margin-top: 1rem;
  &__hr {
    // border: none;
    height: 0.08rem; /* starting height on the left */
    background: linear-gradient(
      to right,
      rgba($cp-darkBlue, 1) 0%,
      rgba($cp-blue, 0.5) 50%,
      rgba($cp-blue, 0) 100%
    );
    mask-image: linear-gradient(
      to right,
      $cp-darkBlue 0%,
      $cp-blue 30%,
      transparent 100%
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
  &__headingH2Tagline {
    padding-left: clamp(7rem, 20vw, 14rem);
    margin-top: 1rem;
  }
}
