<footer class="footer">
	<svg class="footer__sectionDivider sectionDivider sectionDivider--footer" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
		<defs>
			<linearGradient id="footerDarkGradient" x1="0" y1="0" x2="0" y2="1">
				<stop offset="0%" stop-color="#333333" stop-opacity="1" />
				<stop offset="10%" stop-color="#333333" stop-opacity=".95" />
				<stop offset="15%" stop-color="#333333" stop-opacity=".92" />
				<stop offset="20%" stop-color="#333333" stop-opacity=".88" />
				<stop offset="100%" stop-color="#333333" stop-opacity=".4" />
			</linearGradient>
		</defs>

		<path class="sectionDivider__footerColorBlue" d="M0,0 C400,120 800,20 1200,80 L1200,0 L0,0 Z" fill="#999999" opacity=".5" />
		<path class="sectionDivider__footerColorRed" d="M0,0 C300,100 900,0 1200,100 L1200,0 L0,0 Z" fill="#cccccc" opacity=".3" />
		<path class="sectionDivider__footerColorDark" d="M0,0 C500,100 700,30 1200,60 L1200,0 L0,0 Z" fill="url(#footerDarkGradient)" />
	</svg>

	<div class="footer__logoContainer">
		<figure class="footer__figure">
			<img
				class="footer__logo logo logo--footer"
				src="./img/logo/codexRebootWebsiteWideLogoX1000.webp"
				alt="Business logo of Schalk van Dyk t/a codexReboot - Web Designer and Developer of websites and web apps that drive traffic and boost sales." />
			<figcaption class="footer__figcaption">
				<p class="footer__footerLogoBylineText paragraph paragraph--footerLogoBylineText">
					Code with Purpose, Design with Impact,
					<br class="footer__linebreakLogoByline" /><span class="footer__footerLogoBylineText-And paragraph--footerLogoBylineText-And">&</span>
					Market with Precision.
				</p>
			</figcaption>
		</figure>
		<article class="footer__servicesContainer">
			<h3 class="footer_footerHeadingH3 headingH3 headingH3--footerHeadingH3">Empowering SA Online</h3>
			<div class="footer__servicesDetailsContainer">
				<article class="footer__servicesIntroContainer footer__servicesArticleContainer">
					<h4 class="footer__footerHeadingH4 headingH4 headingH4--footerHeadingH4">Results Driven Solutions</h4>
					<p class="footer__footerServicesIntroText paragraph paragraph--footer paragraph--footerServicesIntroText">
						I offer web design & development, SEO, digital marketing, and graphic design solutions tailored to businesses across South Africa.
					</p>
				</article>
				<article class="footer__servicesListContainer footer__servicesArticleContainer">
					<h4 class="footer__footerHeadingH4 headingH4 headingH4--footerHeadingH4">Explore Our Services</h4>
					<ul class="footer__servicesList">
						<li class="footer__footerServicesText paragraph paragraph--footer paragraph--footerServicesText">
							Graphic Design Solutions
							<span class="footer__footerRightArrow">&rarr;</span>
						</li>
						<li class="footer__footerServicesText paragraph paragraph--footer paragraph--footerServicesText">
							Website Design & Development
							<span class="footer__footerRightArrow">&rarr;</span>
						</li>
						<li class="footer__footerServicesText paragraph paragraph--footer paragraph--footerServicesText">
							Domain Registrations & Web Hosting
							<span class="footer__footerRightArrow">&rarr;</span>
						</li>
						<li class="footer__footerServicesText paragraph paragraph--footer paragraph--footerServicesText">
							Digital Online Marketing & SEO
							<span class="footer__footerRightArrow">&rarr;</span>
						</li>
					</ul>
				</article>
				<article class="footer__servicesAreaContainer footer__servicesArticleContainer">
					<h4 class="footer__footerHeadingH4 headingH4 headingH4--footerHeadingH4">Nationwide Service - No Limits</h4>
					<ul class="footer__servicesAreasList">
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Pretoria,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Cape Town,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Johannesburg,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Pietermaritzburg,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Bloemfontein,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Polokwane
							<br class="footer__linebreakFooterServicesAreaItemText" />(Pietersburg),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Mbombela
							<br class="footer__linebreakFooterServicesAreaItemText" />(Nelspruit),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Mahikeng,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Bisho,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Kimberley,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Tzaneen,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Thohoyandou,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Phalaborwa,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Mokopane
							<br class="footer__linebreakFooterServicesAreaItemText" />(Potgietersrus),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Bela-Bela
							<br class="footer__linebreakFooterServicesAreaItemText" />(Warmbaths),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Lephalale
							<br class="footer__linebreakFooterServicesAreaItemText" />(Ellisras),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Groblersdal
							<br class="footer__linebreakFooterServicesAreaItemText" />(Ellisras),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Marble Hall,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Mookgophong
							<br class="footer__linebreakFooterServicesAreaItemText" />(Naboomspruit),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Modimolle
							<br class="footer__linebreakFooterServicesAreaItemText" />(Nylstroom),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Vaalwater,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">
							Louis Trichardt
							<br class="footer__linebreakFooterServicesAreaItemText" />(Makhado),
						</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Musina,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Giyani,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Hoedspruit,</li>
						<li class="footer__footerServiceAreaItemText paragraph paragraph--footerServiceAreaItemText">Burgersfort</li>
					</ul>
				</article>
			</div>
		</article>
	</div>
	<% const footerNavPartials = { home: 'homeFooterNav', popia: 'popiaFooterNav', paia: 'paiaFooterNav', terms: 'termsFooterNav' }; const footerPartial = footerNavPartials[currentPage] ||
	'homeFooterNav'; %> <%- include(footerPartial) %>
	<div class="footer__addressAndContactAndSocialMediaContainer">
		<h3 class="footer__footerHeadingH3 headingH3 headingH3--footerHeadingH3">Get in Touch</h3>
		<div class="footer__addressAndContactDetailsContainer">
			<div class="footer__contactDetailsContainer">
				<a
					href="https://wa.me/27825503872?text=Hi%20there!%20I%20found%20your%20website%20and%20wanted%20to%20reach%20out."
					class="footer__contactLink"
					target="_blank"
					rel="noopener noreferrer">
					<div class="footer__contactDetailsItemContainer">
						<svg
							class="footer__phoneIcon icon icon--footerContactDetailsIcon icon--phoneIcon"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 500 500"
							version="1.1">
							<path
								class="icon--footerContactIconColor"
								d="M 109.561 30.138 C 100.761 31.475, 92.499 36.846, 72.548 54.200 C 57.063 67.670, 52.938 71.671, 44.918 81 C 37.495 89.635, 35.435 92.625, 32.277 99.349 C 28.911 106.518, 29.123 118.810, 32.896 135.217 C 35.789 147.793, 41.453 165.653, 43.119 167.450 C 43.604 167.973, 44 169.048, 44 169.840 C 44 170.632, 46.975 177.179, 50.610 184.390 C 58.384 199.807, 57.777 198.703, 65.799 212.033 C 74.336 226.220, 73.866 225.496, 79.500 233.148 C 82.250 236.882, 86.975 243.350, 90 247.520 C 109.784 274.795, 131.463 299.482, 165.984 334.044 C 199.952 368.055, 224.145 389.304, 252.234 409.802 C 256.230 412.718, 262.425 417.246, 266 419.865 C 283.812 432.913, 308.415 446.657, 333 457.294 C 348.695 464.085, 373.833 470, 386.997 470 C 396.834 470, 400.217 468.828, 410.649 461.802 C 416.238 458.038, 438.918 435.788, 447.604 425.549 C 450.847 421.725, 454.090 417.900, 454.810 417.049 C 459.969 410.951, 464.397 404.340, 466.979 398.882 C 469.556 393.436, 469.999 391.325, 469.999 384.485 C 470 371.983, 466.170 366.186, 451.391 356.320 C 446.595 353.119, 441.661 349.825, 440.424 349 C 439.188 348.175, 436.007 346.182, 433.354 344.571 C 430.702 342.959, 428.074 341.258, 427.516 340.790 C 425.685 339.257, 379.840 309, 379.347 309 C 379.083 309, 377.434 307.947, 375.683 306.660 C 368.590 301.447, 364.322 300, 356.037 300 C 346.205 300, 337.121 303.367, 324.341 311.750 C 322.455 312.988, 320.543 314, 320.093 314 C 319.644 314, 314.761 316.700, 309.243 320 C 298.589 326.372, 295.921 327.032, 291.973 324.273 C 264.195 304.867, 193.684 234.379, 175.689 208.027 C 173.063 204.184, 173.605 201.745, 179.250 191.977 C 197.705 160.046, 199.265 156.522, 199.786 145.605 C 200.237 136.150, 198.989 131.953, 193.515 124.500 C 192.303 122.850, 191.129 121.039, 190.906 120.475 C 190.683 119.911, 183.784 109.336, 175.577 96.975 C 167.369 84.614, 156.231 67.837, 150.827 59.694 C 145.422 51.551, 141 44.547, 141 44.129 C 141 43.711, 138.969 41.337, 136.486 38.855 C 128.729 31.098, 120.592 28.463, 109.561 30.138"
								stroke="none"
								fill="black"
								fill-rule="evenodd" />
						</svg>
						<p class="footer__footerContactDetailsText paragraph paragraph--footer paragraph--footerContactDetails">082 550 3872</p>
					</div>
				</a>
				<a href="mailto:schalk@schalkvandyk.com?subject=Query&body=I%20found%20your%20website%20and%20wanted%20to%20reach%20out.">
					<div class="footer__contactDetailsItemContainer">
						<svg
							class="footer__emailAddressIcon icon icon--footerContactDetailsIcon icon--emailAddressIcon"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 500 500"
							version="1.1">
							<path
								class="icon--footerContactIconColor"
								d="M 92.638 84.088 C 89.414 84.565, 84.297 86.091, 81.267 87.478 C 78.237 88.865, 75.314 90, 74.771 90 C 72.011 90, 55.925 104.819, 51.433 111.500 C 48.579 115.744, 44.448 125.573, 42.919 131.757 C 40.876 140.015, 41.847 141.470, 53.500 147.600 C 79.488 161.272, 94.980 169.596, 104.500 175.001 C 109.195 177.667, 120.629 183.870, 123.500 185.308 C 124.600 185.860, 126.175 186.679, 127 187.129 C 127.825 187.579, 132.550 190.030, 137.500 192.575 C 142.450 195.120, 147.175 197.738, 148 198.391 C 148.825 199.044, 151.075 200.352, 153 201.296 C 156.284 202.907, 162.862 206.418, 179.500 215.437 C 183.350 217.524, 186.928 219.629, 187.450 220.116 C 187.972 220.602, 189.062 221, 189.871 221 C 190.680 221, 192.053 221.625, 192.921 222.388 C 194.355 223.649, 207.454 230.904, 217.500 236.001 C 219.700 237.117, 226 240.515, 231.500 243.553 C 248.054 252.694, 249.246 253.152, 253.125 251.850 C 254.981 251.227, 257.175 250.151, 258 249.460 C 258.825 248.770, 261.750 247.093, 264.500 245.736 C 267.250 244.378, 271.750 242.038, 274.500 240.536 C 277.250 239.033, 280.850 237.109, 282.500 236.260 C 284.150 235.411, 286.175 234.319, 287 233.833 C 287.825 233.347, 290.300 232.041, 292.500 230.930 C 294.700 229.819, 297.850 228.109, 299.500 227.130 C 304.129 224.383, 313.507 219.256, 324.500 213.464 C 330 210.565, 336.525 207.097, 339 205.756 C 341.475 204.415, 347.100 201.387, 351.500 199.028 C 355.900 196.668, 361.300 193.727, 363.500 192.492 C 370.475 188.575, 395.004 175.325, 403.500 170.885 C 405.700 169.735, 409.750 167.522, 412.500 165.966 C 415.250 164.411, 419.750 162.011, 422.500 160.633 C 425.250 159.255, 431.550 155.912, 436.500 153.203 C 441.450 150.494, 447.975 146.935, 451 145.293 C 458.143 141.417, 458.988 139.153, 456.625 130.224 C 451.041 109.129, 434.730 92.400, 412.396 84.859 C 409.251 83.798, 378.618 83.513, 253.500 83.382 C 168.250 83.293, 95.862 83.610, 92.638 84.088 M 41.667 177.667 C 40.594 178.739, 40.921 355.759, 42.008 362.500 C 43.475 371.597, 45.190 376.857, 49.017 383.997 C 53.220 391.836, 66.577 405.557, 73.020 408.652 C 83.713 413.790, 87.257 415.046, 93.683 415.975 C 102.935 417.312, 397.078 417.311, 406.330 415.973 C 412.400 415.095, 421.791 411.759, 426 408.984 C 426.825 408.440, 428.531 407.550, 429.791 407.007 C 431.050 406.463, 435.557 402.527, 439.804 398.259 C 447.897 390.129, 452.325 383.003, 456.191 371.889 L 458.414 365.500 458.746 271.733 C 459.023 193.264, 458.855 177.882, 457.714 177.444 C 456.236 176.876, 450.406 179.368, 442.500 183.946 C 439.750 185.539, 435.250 187.978, 432.500 189.368 C 429.750 190.758, 423.900 193.874, 419.500 196.292 C 411.331 200.783, 398.240 207.895, 387.500 213.679 C 384.200 215.456, 379.925 217.680, 378 218.622 C 376.075 219.565, 373.825 220.889, 373 221.566 C 372.175 222.243, 367.450 224.880, 362.500 227.425 C 357.550 229.970, 352.825 232.427, 352 232.884 C 351.175 233.342, 349.150 234.411, 347.500 235.260 C 343.236 237.454, 335.184 241.873, 330.500 244.588 C 328.300 245.864, 324.925 247.684, 323 248.633 C 321.075 249.582, 316.125 252.230, 312 254.517 C 307.875 256.804, 300.900 260.614, 296.500 262.984 C 292.100 265.354, 285.125 269.128, 281 271.370 C 268.911 277.942, 261.724 281.795, 258.247 283.570 C 256.458 284.484, 252.747 285.231, 250 285.231 C 245.077 285.231, 242.870 284.416, 234 279.324 C 231.525 277.904, 227.025 275.444, 224 273.857 C 220.975 272.271, 217.140 270.146, 215.479 269.135 C 211.955 266.991, 194.389 257.611, 185 252.860 C 181.425 251.051, 176.925 248.615, 175 247.447 C 173.075 246.279, 168.125 243.520, 164 241.317 C 152.161 234.993, 142.837 229.944, 138.500 227.508 C 136.300 226.273, 130.900 223.332, 126.500 220.972 C 122.100 218.613, 116.475 215.585, 114 214.244 C 111.525 212.903, 104.775 209.307, 99 206.253 C 93.225 203.199, 87.375 200.064, 86 199.285 C 77.738 194.605, 70.999 190.895, 67.500 189.101 C 65.300 187.973, 62.825 186.659, 62 186.180 C 55.617 182.481, 44.561 177.026, 43.417 177.013 C 42.821 177.006, 42.033 177.300, 41.667 177.667"
								stroke="none"
								fill="black"
								fill-rule="evenodd" />
						</svg>
						<p class="footer__footerContactDetailsText paragraph paragraph--footer paragraph--footerContactDetails">schalk@schalkvandyk.com</p>
					</div>
				</a>
			</div>
			<address class="footer__addressDetailsItemContainer">
				<a href="https://maps.app.goo.gl/L8UhTuMqE4Yya6j19" class="footer__contactDetailsItemContainer" target="_blank" rel="noopener noreferrer">
					<svg
						class="footer__streetAddressIcon icon icon--footerContactDetailsIcon icon--streetAddressIcon"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 500 500"
						version="1.1">
						<path
							class="icon--footerContactIconColor"
							d="M 227.280 43.062 C 184.974 49.563, 149.663 73.349, 124.428 112.343 C 121.993 116.107, 120 119.512, 120 119.910 C 120 120.308, 118.650 123.274, 117 126.500 C 115.350 129.726, 114 132.981, 114 133.733 C 114 134.484, 113.285 136.482, 112.412 138.171 C 111.538 139.861, 109.448 146.476, 107.768 152.871 C 104.852 163.967, 104.707 165.462, 104.606 185.500 C 104.506 205.264, 104.667 207.206, 107.331 218.500 C 109.819 229.046, 112.973 239.324, 118.533 255 C 119.410 257.475, 121.225 261.835, 122.564 264.688 C 123.904 267.542, 125 270.286, 125 270.788 C 125 271.725, 137.043 295.430, 143.397 307 C 145.361 310.575, 147.987 315.414, 149.234 317.753 C 150.480 320.093, 155.100 327.872, 159.500 335.041 C 163.900 342.210, 167.952 348.846, 168.504 349.788 C 169.941 352.238, 180.911 368.551, 185.291 374.750 C 187.331 377.638, 190.582 382.255, 192.515 385.012 C 201.746 398.171, 203.879 401.124, 209 407.829 C 221.437 424.116, 231.392 436.696, 234.354 439.872 C 242.118 448.194, 254.769 449.273, 263.035 442.317 C 267.292 438.735, 290.384 409.275, 304.043 390 C 306.186 386.975, 308.291 384.050, 308.720 383.499 C 309.149 382.949, 311.328 379.799, 313.562 376.499 C 315.796 373.200, 319.284 368.142, 321.312 365.260 C 323.340 362.378, 325 359.743, 325 359.404 C 325 359.065, 326.285 357.148, 327.855 355.144 C 329.425 353.140, 330.887 351.035, 331.105 350.466 C 331.446 349.573, 343.225 330.277, 347.870 323 C 348.748 321.625, 350.261 318.925, 351.232 317 C 352.202 315.075, 354.480 310.800, 356.293 307.500 C 365.006 291.637, 370.542 280.680, 374.227 272 C 376.445 266.775, 378.605 262.050, 379.026 261.500 C 379.447 260.950, 380.249 258.925, 380.807 257 C 381.365 255.075, 383.444 249, 385.428 243.500 C 387.411 238, 390.489 227.425, 392.267 220 C 395.383 206.990, 395.498 205.756, 395.442 186 C 395.397 169.798, 395.019 164.137, 393.642 159 C 392.683 155.425, 391.322 150.025, 390.616 147 C 389.910 143.975, 388.583 140.060, 387.667 138.300 C 386.750 136.539, 386 134.570, 386 133.922 C 386 132.876, 381.162 121.923, 378.967 118 C 356.245 77.387, 316.691 49.709, 271.784 42.998 C 255.574 40.576, 243.348 40.593, 227.280 43.062 M 241.180 136.653 C 235.860 137.810, 225.440 142.115, 221.671 144.712 C 213.874 150.085, 207.863 157.094, 203.812 165.536 C 200.429 172.586, 199.808 174.962, 199.301 182.788 C 198.938 188.389, 199.185 194.265, 199.947 198.136 C 203.253 214.942, 215.671 229.228, 232.608 235.714 C 238.476 237.962, 241.060 238.354, 250 238.354 C 258.940 238.354, 261.524 237.962, 267.392 235.714 C 288.203 227.745, 301 209.386, 301 187.500 C 301 159.648, 279.801 137.576, 252 136.482 C 247.325 136.298, 242.456 136.375, 241.180 136.653"
							stroke="none"
							fill="black"
							fill-rule="evenodd" />
					</svg>
					<p class="footer__footerAddressDetailsText paragraph paragraph--footer paragraph--footerAddressDetails">
						25 Steve Tshwete Street,
						<br class="footer__linebreakFooterAddress" />Modimolle, 0510
					</p>
				</a>
			</address>
		</div>
		<div class="footer__socialMediaFooterContainer">
			<h3 class="footer__footerHeadingH3 headingH3 headingH3--footerHeadingH3">Follow & Connect</h3>
			<div class="footer__socialMediaLinksContainer">
				<!-- linkedin -->
				<a href="https://www.linkedin.com/in/codexreboot/" target="_blank">
					<svg class="footer__socialMediaIcon icon icon--socialMediaFooterIcon icon--linkedinIcon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="24" height="24" rx="5.24236" fill="#006699" />
						<path
							d="M9.2393 16.8632V10.3801H7.08634V16.8632H9.23953H9.2393ZM8.16327 9.4951C8.9139 9.4951 9.38121 8.99727 9.38121 8.37513C9.36716 7.73881 8.9139 7.25488 8.17755 7.25488C7.44069 7.25488 6.95943 7.73881 6.95943 8.37507C6.95943 8.99721 7.42658 9.49504 8.14916 9.49504H8.1631L8.16327 9.4951ZM10.431 16.8632H12.5838V13.2431C12.5838 13.0496 12.5978 12.8556 12.6547 12.7174C12.8103 12.3301 13.1645 11.9292 13.7594 11.9292C14.5383 11.9292 14.85 12.5237 14.85 13.3953V16.8632H17.0028V13.146C17.0028 11.1547 15.9408 10.2281 14.5243 10.2281C13.363 10.2281 12.853 10.8778 12.5696 11.3202H12.584V10.3803H10.4311C10.4592 10.9885 10.4309 16.8634 10.4309 16.8634L10.431 16.8632Z"
							fill="white" />
					</svg>
				</a>
				<!-- github -->
				<a href="https://github.com/codexReboot" target="_blank">
					<svg class="footer__socialMediaIcon icon icon--socialMediaFooterIcon icon--githubIcon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="24" height="24" rx="4.9054" fill="#1B1F23" />
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M11.9879 5.50446C8.261 5.50446 5.24237 8.51107 5.24237 12.2232C5.24237 15.1962 7.17328 17.7073 9.85463 18.5975C10.1919 18.6563 10.3184 18.4547 10.3184 18.2784C10.3184 18.1188 10.31 17.5897 10.31 17.027C8.61514 17.3378 8.17668 16.6155 8.04177 16.2376C7.96588 16.0444 7.63704 15.4481 7.35035 15.2886C7.11426 15.1626 6.77698 14.8518 7.34192 14.8434C7.87313 14.835 8.25257 15.3306 8.37904 15.5321C8.98614 16.5483 9.95581 16.2628 10.3437 16.0864C10.4027 15.6497 10.5798 15.3557 10.7737 15.1878C9.27283 15.0198 7.70449 14.4403 7.70449 11.8704C7.70449 11.1398 7.96588 10.5351 8.39591 10.0648C8.32845 9.89681 8.09236 9.20814 8.46336 8.28432C8.46336 8.28432 9.0283 8.10795 10.3184 8.97298C10.858 8.82181 11.4314 8.74623 12.0048 8.74623C12.5781 8.74623 13.1515 8.82181 13.6911 8.97298C14.9812 8.09955 15.5462 8.28432 15.5462 8.28432C15.9172 9.20814 15.6811 9.89681 15.6136 10.0648C16.0437 10.5351 16.305 11.1314 16.305 11.8704C16.305 14.4487 14.7283 15.0198 13.2274 15.1878C13.4719 15.3977 13.6827 15.8009 13.6827 16.4307C13.6827 17.3294 13.6743 18.0516 13.6743 18.2784C13.6743 18.4547 13.8008 18.6647 14.138 18.5975C16.8025 17.7073 18.7334 15.1878 18.7334 12.2232C18.7334 8.51107 15.7148 5.50446 11.9879 5.50446Z"
							fill="white" />
					</svg>
				</a>
				<!-- facebook -->
				<a href="https://www.facebook.com/codexReboot" target="_blank">
					<svg class="footer__socialMediaIcon icon icon--socialMediaFooterIcon icon--facebookIcon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="24" height="24" rx="4.9054" fill="#337FFF" />
						<path
							d="M14.9363 12.7812L15.2782 10.6086H13.1718V9.19634C13.1718 8.60226 13.4659 8.02175 14.4062 8.02175H15.3774V6.17161C14.8118 6.08142 14.2404 6.03264 13.6676 6.02563C11.9339 6.02563 10.802 7.06783 10.802 8.95192V10.6086H8.88028V12.7812H10.802V18.0363H13.1718V12.7812H14.9363Z"
							fill="white" />
					</svg>
				</a>
				<!-- instagram -->
				<a href="https://www.instagram.com/codexreboot/" target="_blank">
					<svg class="footer__socialMediaIcon icon icon--socialMediaFooterIcon icon--instagramIcon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="24" height="24" rx="5.24236" fill="url(#paint0_linear_916_1347)" />
						<path
							d="M10.0028 12.0307C10.0028 10.9252 10.8984 10.0288 12.0036 10.0288C13.1088 10.0288 14.005 10.9252 14.005 12.0307C14.005 13.1362 13.1088 14.0327 12.0036 14.0327C10.8984 14.0327 10.0028 13.1362 10.0028 12.0307ZM8.92085 12.0307C8.92085 13.7338 10.301 15.1144 12.0036 15.1144C13.7063 15.1144 15.0864 13.7338 15.0864 12.0307C15.0864 10.3276 13.7063 8.94706 12.0036 8.94706C10.301 8.94706 8.92085 10.3276 8.92085 12.0307ZM14.488 8.82479C14.488 8.96732 14.5302 9.10666 14.6093 9.2252C14.6884 9.34374 14.8009 9.43615 14.9325 9.49075C15.0641 9.54535 15.209 9.55968 15.3487 9.53193C15.4885 9.50418 15.6169 9.43559 15.7177 9.33485C15.8185 9.23411 15.8871 9.10573 15.915 8.96595C15.9428 8.82617 15.9286 8.68127 15.8742 8.54957C15.8197 8.41786 15.7274 8.30528 15.6089 8.22605C15.4905 8.14681 15.3512 8.10449 15.2087 8.10444H15.2084C15.0175 8.10453 14.8343 8.18044 14.6992 8.3155C14.5641 8.45057 14.4882 8.63374 14.488 8.82479V8.82479ZM9.57818 16.9189C8.99285 16.8923 8.67471 16.7947 8.46328 16.7123C8.18299 16.6032 7.983 16.4732 7.77273 16.2631C7.56246 16.0531 7.4323 15.8532 7.32366 15.5729C7.24124 15.3615 7.14374 15.0431 7.11713 14.4576C7.08803 13.8246 7.08222 13.6345 7.08222 12.0308C7.08222 10.4271 7.08851 10.2374 7.11713 9.6039C7.14379 9.0184 7.24201 8.70069 7.32366 8.48868C7.43278 8.20831 7.56274 8.00826 7.77273 7.79792C7.98271 7.58759 8.18251 7.4574 8.46328 7.34873C8.67461 7.26628 8.99285 7.16876 9.57818 7.14214C10.211 7.11303 10.4011 7.10722 12.0036 7.10722C13.6062 7.10722 13.7964 7.11351 14.4298 7.14214C15.0151 7.16881 15.3327 7.26705 15.5447 7.34873C15.825 7.4574 16.025 7.58788 16.2353 7.79792C16.4455 8.00797 16.5752 8.20831 16.6843 8.48868C16.7667 8.70007 16.8642 9.0184 16.8908 9.6039C16.92 10.2374 16.9258 10.4271 16.9258 12.0308C16.9258 13.6345 16.92 13.8241 16.8908 14.4576C16.8642 15.0431 16.7662 15.3614 16.6843 15.5729C16.5752 15.8532 16.4452 16.0533 16.2353 16.2631C16.0253 16.473 15.825 16.6032 15.5447 16.7123C15.3334 16.7948 15.0151 16.8923 14.4298 16.9189C13.797 16.948 13.6069 16.9538 12.0036 16.9538C10.4004 16.9538 10.2108 16.948 9.57818 16.9189V16.9189ZM9.52847 6.06176C8.88935 6.09087 8.45262 6.19224 8.07122 6.34069C7.67624 6.494 7.34186 6.69967 7.00772 7.03337C6.67359 7.36708 6.4685 7.70208 6.31524 8.09718C6.16683 8.47893 6.06549 8.91554 6.03639 9.55485C6.0068 10.1952 6.00003 10.3999 6.00003 12.0307C6.00003 13.6616 6.0068 13.8663 6.03639 14.5066C6.06549 15.146 6.16683 15.5825 6.31524 15.9643C6.4685 16.3591 6.67363 16.6945 7.00772 17.0281C7.34181 17.3616 7.67624 17.567 8.07122 17.7208C8.45334 17.8692 8.88935 17.9706 9.52847 17.9997C10.1689 18.0288 10.3732 18.0361 12.0036 18.0361C13.634 18.0361 13.8387 18.0293 14.4788 17.9997C15.118 17.9706 15.5544 17.8692 15.936 17.7208C16.3308 17.567 16.6654 17.3618 16.9995 17.0281C17.3337 16.6944 17.5383 16.3591 17.692 15.9643C17.8404 15.5825 17.9422 15.1459 17.9709 14.5066C18 13.8658 18.0067 13.6616 18.0067 12.0307C18.0067 10.3999 18 10.1952 17.9709 9.55485C17.9418 8.91549 17.8404 8.47869 17.692 8.09718C17.5383 7.70232 17.3331 7.36761 16.9995 7.03337C16.6659 6.69914 16.3308 6.494 15.9365 6.34069C15.5544 6.19224 15.1179 6.09039 14.4793 6.06176C13.8391 6.03265 13.6345 6.02539 12.0041 6.02539C10.3737 6.02539 10.1689 6.03216 9.52847 6.06176Z"
							fill="white" />
						<defs>
							<linearGradient id="paint0_linear_916_1347" x1="23.5387" y1="24" x2="-0.461279" y2="-6.46012e-07" gradientUnits="userSpaceOnUse">
								<stop stop-color="#FBE18A" />
								<stop offset="0.21" stop-color="#FCBB45" />
								<stop offset="0.38" stop-color="#F75274" />
								<stop offset="0.52" stop-color="#D53692" />
								<stop offset="0.74" stop-color="#8F39CE" />
								<stop offset="1" stop-color="#5B4FE9" />
							</linearGradient>
						</defs>
					</svg>
				</a>
				<!-- x -->
				<a href="https://x.com/codexReboot" target="_blank">
					<svg class="footer__socialMediaIcon icon icon--socialMediaFooterIcon icon--xIcon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M3.42857 0C1.5375 0 0 1.5375 0 3.42857V20.5714C0 22.4625 1.5375 24 3.42857 24H20.5714C22.4625 24 24 22.4625 24 20.5714V3.42857C24 1.5375 22.4625 0 20.5714 0H3.42857ZM19.3446 4.5L13.7839 10.8536L20.325 19.5H15.2036L11.1964 14.2554L6.60536 19.5H4.06071L10.0071 12.7018L3.73393 4.5H8.98393L12.6107 9.29464L16.8 4.5H19.3446ZM17.3196 17.9786L8.21786 5.94107H6.70179L15.9054 17.9786H17.3143H17.3196Z"
							fill="black" />
					</svg>
				</a>
			</div>
		</div>
	</div>
	<div class="footer__copyrightAndDeveloperContainer">
		<h3 class="footer__footerHeadingH3 headingH3 headingH3--footerHeadingH3">Legal & Credits</h3>
		<div class="footer__copyrightDetailsContainer">
			<p class="footer__copyright paragraph paragraph--copyright">
				Copyright - <span>&copy;</span> <span class="footer__copyrightDate copyrightDate">2020</span> Schalk van Dyk <br class="footer__linebreakAllrights" />All rights reserved
			</p>
		</div>
		<%- include('legalFooterNav') %>
		<div class="footer__developerDetailsContainer">
			<p class="footer__developer paragraph paragraph--footer paragraph--developer">designed and developed by:</p>
			<img
				class="footer__designerAndDeveloperLogo logo logo--designerAndDeveloperLogo"
				src="../img/logo/codexRebootNavbarWideLogo.webp"
				alt="Business logo of Schalk van Dyk t/a codexReboot - Web Designer and Developer of websites and web apps that drive traffic and boost sales." />
		</div>
	</div>
</footer>
