<footer class="footer">
  <div class="footer__logoContainer">
    <figure class="footer__figure">
      <img class="footer__logo logo logo--footer" src="./img/logo/codexRebootLogo.png" alt="" />
      <figcaption class="footer__figcaption">
        <h2 class="footer__headingH2 headingH2 headingH2--footer">Schalk van Dyk</h2>
        <h3 class="footer__subtitle headingH3 headingH3--footerSubtitle">Web Designer & Developer</h3>
        <p class="footer__byline paragraph paragraph--byline">
          Code with Purpose, Design with Impact, & Market with Precision.
        </p>
      </figcaption>
    </figure>
  </div>
  <nav class="footer__navContainer">
    <ul class="footer__navlist">
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">Home</a>
      </li>
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">About</a>
      </li>
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">Services</a>
      </li>
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">Portfolio</a>
      </li>
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">Skills</a>
      </li>
      <li class="footer__navitem paragraph paragraph__navitem">
        <a class="footer__navlink navlinkText navlinkText--footer" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="footer__addressAndContactAndSocialMediaContainer">
    <div class="footer__addressAndContactDetailsContainer">
      <address class="footer__addressDetailsItemContainer">
        <svg
          class="footer__streetAddressIcon icon icon--contactDetailsIcon icon--streetAddressIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="icon--contactDetailsIconColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24 5C24 2.23858 21.7614 0 19 0H5C2.23858 0 0 2.23858 0 5V19C0 21.7614 2.23858 24 5 24H19C21.7614 24 24 21.7614 24 19V5ZM19 10.5833C19 15.9852 13.9421 19.2485 12.4251 20.1057C12.1584 20.2564 11.8416 20.2564 11.5749 20.1057C10.0579 19.2485 5 15.9852 5 10.5833C5 6.39517 8.13401 3 12 3C15.866 3 19 6.39517 19 10.5833ZM15 10.5833C15 12.3783 13.6569 13.8333 12 13.8333C10.3431 13.8333 9 12.3783 9 10.5833C9 8.78841 10.3431 7.33333 12 7.33333C13.6569 7.33333 15 8.78841 15 10.5833Z"
            fill="black"
          />
        </svg>
        <p class="footer__footerAddressDetailsText paragraph paragraph--footer paragraph--footerAddressDetails">
          25 Steve Tshwete Street, Modimolle, 0510
        </p>
      </address>
      <div class="footer__contactDetailsContainer">
        <div class="footer__contactDetailsItemContainer">
          <svg
            class="footer__mobilePhoneIcon icon icon--contactDetailsIcon icon--mobilePHoneIcon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="icon--contactDetailsIconColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 0C2.23858 0 0 2.23859 0 5V19C0 21.7614 2.23858 24 5 24H19C21.7614 24 24 21.7614 24 19V5C24 2.23859 21.7614 0 19 0H5ZM6.29289 3.70709L5.67962 4.32037C3.56827 6.43173 3.33072 9.77429 5.12226 12.163L6.02857 13.3714C7.33622 15.115 8.88504 16.6638 10.6286 17.9714L11.837 18.8777C14.2257 20.6693 17.5683 20.4317 19.6796 18.3204L20.2929 17.7071C20.6834 17.3166 20.6834 16.6834 20.2929 16.2929L17.7071 13.7071C17.3166 13.3166 16.6834 13.3166 16.2929 13.7071L14.5005 15.4995C14.2016 15.7984 13.745 15.8725 13.3669 15.6835C11.1814 14.5907 9.40929 12.8186 8.31654 10.6331C8.1275 10.255 8.2016 9.7984 8.50048 9.49951L10.2929 7.70709C10.6834 7.31659 10.6834 6.68341 10.2929 6.29291L7.70711 3.70709C7.31658 3.31659 6.68342 3.31659 6.29289 3.70709Z"
              fill="black"
            />
          </svg>
          <p class="footer__footerContactDetailsText paragraph paragraph--footer paragraph--footerContactDetails">
            082 550 3872
          </p>
        </div>
        <div class="footer__contactDetailsItemContainer">
          <svg
            class="footer__emailAddressIcon icon icon--contactDetailsIcon icon--emailAddressIcon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="icon--contactDetailsIconColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 0C2.23857 0 0 2.23859 0 5V19C0 21.7614 2.23857 24 5 24H19C21.7614 24 24 21.7614 24 19V5C24 2.23859 21.7614 0 19 0H5ZM4 11C4 10.3174 4 9.71716 4.01234 9.18698L10.94 13.5168C11.5885 13.9221 12.4115 13.9221 13.06 13.5168L19.9877 9.18698C20 9.71716 20 10.3174 20 11V13C20 15.8284 20 17.2426 19.1213 18.1213C18.2426 19 16.8284 19 14 19H10C7.17157 19 5.75735 19 4.87868 18.1213C4 17.2426 4 15.8284 4 13V11ZM4.53 7.15201C4.4388 7.095 4.34195 7.0545 4.24297 7.02969C4.37296 6.55618 4.57245 6.18491 4.87868 5.87869C5.75735 5 7.17157 5 10 5H14C16.8284 5 18.2426 5 19.1213 5.87869C19.4276 6.18491 19.627 6.55618 19.757 7.02969C19.6969 7.04477 19.6375 7.06564 19.5797 7.09247C19.5424 7.1098 19.5058 7.12964 19.47 7.15201L12 11.8207L4.53 7.15201Z"
              fill="black"
            />
          </svg>
          <p class="footer__footerContactDetailsText paragraph paragraph--footer paragraph--footerContactDetails">
            schalk@schalkvandyk.com
          </p>
        </div>
      </div>
    </div>
    <div class="footer__socialMediaLinksContainer">
      <div class="footer__socialMediaItemContainer">
        <svg
          class="footer__socialMediaIcon icon icon--socialMediaIcon icon--linkedinIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" rx="5.24236" fill="#006699" />
          <path
            d="M9.2393 16.8632V10.3801H7.08634V16.8632H9.23953H9.2393ZM8.16327 9.4951C8.9139 9.4951 9.38121 8.99727 9.38121 8.37513C9.36716 7.73881 8.9139 7.25488 8.17755 7.25488C7.44069 7.25488 6.95943 7.73881 6.95943 8.37507C6.95943 8.99721 7.42658 9.49504 8.14916 9.49504H8.1631L8.16327 9.4951ZM10.431 16.8632H12.5838V13.2431C12.5838 13.0496 12.5978 12.8556 12.6547 12.7174C12.8103 12.3301 13.1645 11.9292 13.7594 11.9292C14.5383 11.9292 14.85 12.5237 14.85 13.3953V16.8632H17.0028V13.146C17.0028 11.1547 15.9408 10.2281 14.5243 10.2281C13.363 10.2281 12.853 10.8778 12.5696 11.3202H12.584V10.3803H10.4311C10.4592 10.9885 10.4309 16.8634 10.4309 16.8634L10.431 16.8632Z"
            fill="white"
          />
        </svg>
        <p class="footer__footerSocialMediaText paragraph paragraph--footer paragraph--footerSocialMedia">Linkedin</p>
      </div>
      <div class="footer__socialMediaItemContainer">
        <svg
          class="footer__socialMediaIcon icon icon--socialMediaIcon icon--githubIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" rx="4.9054" fill="#1B1F23" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.9879 5.50446C8.261 5.50446 5.24237 8.51107 5.24237 12.2232C5.24237 15.1962 7.17328 17.7073 9.85463 18.5975C10.1919 18.6563 10.3184 18.4547 10.3184 18.2784C10.3184 18.1188 10.31 17.5897 10.31 17.027C8.61514 17.3378 8.17668 16.6155 8.04177 16.2376C7.96588 16.0444 7.63704 15.4481 7.35035 15.2886C7.11426 15.1626 6.77698 14.8518 7.34192 14.8434C7.87313 14.835 8.25257 15.3306 8.37904 15.5321C8.98614 16.5483 9.95581 16.2628 10.3437 16.0864C10.4027 15.6497 10.5798 15.3557 10.7737 15.1878C9.27283 15.0198 7.70449 14.4403 7.70449 11.8704C7.70449 11.1398 7.96588 10.5351 8.39591 10.0648C8.32845 9.89681 8.09236 9.20814 8.46336 8.28432C8.46336 8.28432 9.0283 8.10795 10.3184 8.97298C10.858 8.82181 11.4314 8.74623 12.0048 8.74623C12.5781 8.74623 13.1515 8.82181 13.6911 8.97298C14.9812 8.09955 15.5462 8.28432 15.5462 8.28432C15.9172 9.20814 15.6811 9.89681 15.6136 10.0648C16.0437 10.5351 16.305 11.1314 16.305 11.8704C16.305 14.4487 14.7283 15.0198 13.2274 15.1878C13.4719 15.3977 13.6827 15.8009 13.6827 16.4307C13.6827 17.3294 13.6743 18.0516 13.6743 18.2784C13.6743 18.4547 13.8008 18.6647 14.138 18.5975C16.8025 17.7073 18.7334 15.1878 18.7334 12.2232C18.7334 8.51107 15.7148 5.50446 11.9879 5.50446Z"
            fill="white"
          />
        </svg>
        <p class="footer__footerSocialMediaText paragraph paragraph--footer paragraph--footerSocialMedia">Github</p>
      </div>
      <div class="footer__socialMediaItemContainer">
        <svg
          class="footer__socialMediaIcon icon icon--socialMediaIcon icon--facebookIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" rx="4.9054" fill="#337FFF" />
          <path
            d="M14.9363 12.7812L15.2782 10.6086H13.1718V9.19634C13.1718 8.60226 13.4659 8.02175 14.4062 8.02175H15.3774V6.17161C14.8118 6.08142 14.2404 6.03264 13.6676 6.02563C11.9339 6.02563 10.802 7.06783 10.802 8.95192V10.6086H8.88028V12.7812H10.802V18.0363H13.1718V12.7812H14.9363Z"
            fill="white"
          />
        </svg>
        <p class="footer__footerSocialMediaText paragraph paragraph--footer paragraph--footerSocialMedia">Facebook</p>
      </div>
      <div class="footer__socialMediaItemContainer">
        <svg
          class="footer__socialMediaIcon icon icon--socialMediaIcon icon--instagramIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" rx="5.24236" fill="url(#paint0_linear_916_1347)" />
          <path
            d="M10.0028 12.0307C10.0028 10.9252 10.8984 10.0288 12.0036 10.0288C13.1088 10.0288 14.005 10.9252 14.005 12.0307C14.005 13.1362 13.1088 14.0327 12.0036 14.0327C10.8984 14.0327 10.0028 13.1362 10.0028 12.0307ZM8.92085 12.0307C8.92085 13.7338 10.301 15.1144 12.0036 15.1144C13.7063 15.1144 15.0864 13.7338 15.0864 12.0307C15.0864 10.3276 13.7063 8.94706 12.0036 8.94706C10.301 8.94706 8.92085 10.3276 8.92085 12.0307ZM14.488 8.82479C14.488 8.96732 14.5302 9.10666 14.6093 9.2252C14.6884 9.34374 14.8009 9.43615 14.9325 9.49075C15.0641 9.54535 15.209 9.55968 15.3487 9.53193C15.4885 9.50418 15.6169 9.43559 15.7177 9.33485C15.8185 9.23411 15.8871 9.10573 15.915 8.96595C15.9428 8.82617 15.9286 8.68127 15.8742 8.54957C15.8197 8.41786 15.7274 8.30528 15.6089 8.22605C15.4905 8.14681 15.3512 8.10449 15.2087 8.10444H15.2084C15.0175 8.10453 14.8343 8.18044 14.6992 8.3155C14.5641 8.45057 14.4882 8.63374 14.488 8.82479V8.82479ZM9.57818 16.9189C8.99285 16.8923 8.67471 16.7947 8.46328 16.7123C8.18299 16.6032 7.983 16.4732 7.77273 16.2631C7.56246 16.0531 7.4323 15.8532 7.32366 15.5729C7.24124 15.3615 7.14374 15.0431 7.11713 14.4576C7.08803 13.8246 7.08222 13.6345 7.08222 12.0308C7.08222 10.4271 7.08851 10.2374 7.11713 9.6039C7.14379 9.0184 7.24201 8.70069 7.32366 8.48868C7.43278 8.20831 7.56274 8.00826 7.77273 7.79792C7.98271 7.58759 8.18251 7.4574 8.46328 7.34873C8.67461 7.26628 8.99285 7.16876 9.57818 7.14214C10.211 7.11303 10.4011 7.10722 12.0036 7.10722C13.6062 7.10722 13.7964 7.11351 14.4298 7.14214C15.0151 7.16881 15.3327 7.26705 15.5447 7.34873C15.825 7.4574 16.025 7.58788 16.2353 7.79792C16.4455 8.00797 16.5752 8.20831 16.6843 8.48868C16.7667 8.70007 16.8642 9.0184 16.8908 9.6039C16.92 10.2374 16.9258 10.4271 16.9258 12.0308C16.9258 13.6345 16.92 13.8241 16.8908 14.4576C16.8642 15.0431 16.7662 15.3614 16.6843 15.5729C16.5752 15.8532 16.4452 16.0533 16.2353 16.2631C16.0253 16.473 15.825 16.6032 15.5447 16.7123C15.3334 16.7948 15.0151 16.8923 14.4298 16.9189C13.797 16.948 13.6069 16.9538 12.0036 16.9538C10.4004 16.9538 10.2108 16.948 9.57818 16.9189V16.9189ZM9.52847 6.06176C8.88935 6.09087 8.45262 6.19224 8.07122 6.34069C7.67624 6.494 7.34186 6.69967 7.00772 7.03337C6.67359 7.36708 6.4685 7.70208 6.31524 8.09718C6.16683 8.47893 6.06549 8.91554 6.03639 9.55485C6.0068 10.1952 6.00003 10.3999 6.00003 12.0307C6.00003 13.6616 6.0068 13.8663 6.03639 14.5066C6.06549 15.146 6.16683 15.5825 6.31524 15.9643C6.4685 16.3591 6.67363 16.6945 7.00772 17.0281C7.34181 17.3616 7.67624 17.567 8.07122 17.7208C8.45334 17.8692 8.88935 17.9706 9.52847 17.9997C10.1689 18.0288 10.3732 18.0361 12.0036 18.0361C13.634 18.0361 13.8387 18.0293 14.4788 17.9997C15.118 17.9706 15.5544 17.8692 15.936 17.7208C16.3308 17.567 16.6654 17.3618 16.9995 17.0281C17.3337 16.6944 17.5383 16.3591 17.692 15.9643C17.8404 15.5825 17.9422 15.1459 17.9709 14.5066C18 13.8658 18.0067 13.6616 18.0067 12.0307C18.0067 10.3999 18 10.1952 17.9709 9.55485C17.9418 8.91549 17.8404 8.47869 17.692 8.09718C17.5383 7.70232 17.3331 7.36761 16.9995 7.03337C16.6659 6.69914 16.3308 6.494 15.9365 6.34069C15.5544 6.19224 15.1179 6.09039 14.4793 6.06176C13.8391 6.03265 13.6345 6.02539 12.0041 6.02539C10.3737 6.02539 10.1689 6.03216 9.52847 6.06176Z"
            fill="white"
          />
          <defs>
            <linearGradient
              id="paint0_linear_916_1347"
              x1="23.5387"
              y1="24"
              x2="-0.461279"
              y2="-6.46012e-07"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FBE18A" />
              <stop offset="0.21" stop-color="#FCBB45" />
              <stop offset="0.38" stop-color="#F75274" />
              <stop offset="0.52" stop-color="#D53692" />
              <stop offset="0.74" stop-color="#8F39CE" />
              <stop offset="1" stop-color="#5B4FE9" />
            </linearGradient>
          </defs>
        </svg>
        <p class="footer__footerSocialMediaText paragraph paragraph--footer paragraph--footerSocialMedia">Instagram</p>
      </div>
      <div class="footer__socialMediaItemContainer">
        <svg
          class="footer__socialMediaIcon icon icon--socialMediaIcon icon--xIcon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.42857 0C1.5375 0 0 1.5375 0 3.42857V20.5714C0 22.4625 1.5375 24 3.42857 24H20.5714C22.4625 24 24 22.4625 24 20.5714V3.42857C24 1.5375 22.4625 0 20.5714 0H3.42857ZM19.3446 4.5L13.7839 10.8536L20.325 19.5H15.2036L11.1964 14.2554L6.60536 19.5H4.06071L10.0071 12.7018L3.73393 4.5H8.98393L12.6107 9.29464L16.8 4.5H19.3446ZM17.3196 17.9786L8.21786 5.94107H6.70179L15.9054 17.9786H17.3143H17.3196Z"
            fill="black"
          />
        </svg>
        <p class="footer__footerSocialMediaText paragraph paragraph--footer paragraph--footerSocialMedia">X</p>
      </div>
    </div>
  </div>
  <div class="footer__copyrightAndDeveloperContainer">
    <div class="footer__copyrightDetailsContainer">
      <p class="footer__copyright paragraph paragraph__footer">
        Copyright - <span>&copy;</span> <span class="footer__copyrightDate copyrightDate">2020</span> Schalk van Dyk
      </p>
    </div>
    <div class="footer__legalContainer">
      <p class="footer__footerTermsText paragraph paragraph--footerTerms">Terms & Conditions</p>
      <p class="footer__footerPoppiText paragraph paragraph--footerPoppi">Privacy Policy</p>
    </div>
    <div class="footer__developerDetailsContainer">
      <p class="footer__developer paragraph paragraph__footer">designed and developed by: <span>codexReboot</span></p>
    </div>
  </div>
</footer>
