<nav class="footer__footerLegalNav">
	<ul class="footer__legalList footer__legalContainer">
		<li class="footer__legalItem">
			<a class="footer__footerTermsText paragraph paragraph--termsandconditions" href="/terms"> Terms &amp; Conditions </a>
		</li>
		<li class="footer__legalItem">
			<a class="footer__footerPoppiText paragraph paragraph--poppi" href="/popia"> Privacy Policy </a>
		</li>
		<li class="footer__legalItem">
			<a class="footer__footerPaiaText paragraph paragraph--paia" href="/paia"> PAIA Manual </a>
		</li>
	</ul>
</nav>
