<nav class="header__nav nav">
  <div class="nav__logoBox logoBox">
      <span class="logoBox__textLower">c</span>
      <img class="logoBox__textImg logoBox__textImgCode" src="" alt="">
      <span class="logoBox__textLower">dex</span>
      <span class="logoBox__textUpper">R</span>
      <span class="logoBox__textLower">eb</span>
      <img class="logoBox__textImg logoBox__textImgReboot" src="" alt="">
      <img class="logoBox__textImg logoBox__textImgPhoto" src="" alt="">
      <span class="logoBox__textLower">t</span>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="/">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about">About</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/services">Services</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/projects">Projects</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/skills">Skills</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/contact">Contact</a>
    </li>
  </ul>
</nav>
