<nav class="header__nav nav">
  <figure class="nav__logoContainer">
    <img
      class="nav__logo logo logo--nav"
      src="/img/logo/codexRebootNavLogo.webp"
      alt="Business logo of Schalk van Dyk, web designer and developer t/a codexReboot. Code with purpose, design with impact, and market with precision."
    />
  </figure>
  <div class="nav__hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__link" href="#about">About</a></li>
    <li class="nav__item"><a class="nav__link" href="#services">Services</a></li>
    <li class="nav__item"><a class="nav__link" href="#projects">Projects</a></li>
    <li class="nav__item"><a class="nav__link" href="#skills">Skills</a></li>
    <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
  </ul>
</nav>