<nav class="footer__navContainer">
	<h3 class="footer__footerHeadingH3 headingH3 headingH3--footerHeadingH3">Start Exploring</h3>
	<ul class="footer__navlist">
		<li class="footer__navitem paragraph paragraph__navitem">
			<a class="footer__navlink navlinkText navlinkText--footerNavlinkText" href="/">Home Page <span class="footer__footerRightArrow">&rarr;</span></a>
		</li>
		<li class="footer__navitem paragraph paragraph__navitem">
			<a class="footer__navlink navlinkText navlinkText--footerNavlinkText" href="#overview">Overview <span class="footer__footerRightArrow">&rarr;</span></a>
		</li>
		<li class="footer__navitem paragraph paragraph__navitem">
			<a class="footer__navlink navlinkText navlinkText--footerNavlinkText" href="#records">Records <span class="footer__footerRightArrow">&rarr;</span></a>
		</li>
		<li class="footer__navitem paragraph paragraph__navitem">
			<a class="footer__navlink navlinkText navlinkText--footerNavlinkText" href="#access">Access <span class="footer__footerRightArrow">&rarr;</span></a>
		</li>
		<li class="footer__navitem paragraph paragraph__navitem">
			<a class="footer__navlink navlinkText navlinkText--footerNavlinkText" href="#manual">Manual <span class="footer__footerRightArrow">&rarr;</span></a>
		</li>
	</ul>
</nav>
