<div class="underConstructionServices">
	<h2 class="underConstructionServices__headingH2 headingH2">Services Under Construction</h2>
	<p class="underConstructionServices__paragraph">
		Exciting news! Take note that this page is currently under construction. Stay tuned for updates as I work to
		bring my services to your fingertips.
	</p>
</div>
