<div class="underConstructionServices">
	<img class="logo--underConstructionServicesLogo" src="../img/logo/codexRebootHeroLogo.webp" alt="" />
	<h2 class="headingH2 headingH2--underConstructionServices">Currently Under Construction</h2>
	<p class="paragraph paragraph--underConstructionServices">
		Exciting news! Take note that this page is currently under construction. Stay tuned for updates as I work to
		bring my services to your fingertips.
	</p>
</div>
