<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>typography</title>

		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Caveat:wght@400..700&family=Contrail+One&family=Lalezar&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap"
			rel="stylesheet" />

		<link
			rel="stylesheet"
			href="css/style.css" />
	</head>
	<body class="body">
		<div class="typographyContainer">
			<h1 class="heading heading--H1">Schalk van Dyk</h1>
			<h2 class="heading heading--H2">About Us</h2>
			<h3 class="heading heading--H3">Heading H3</h3>
			<h4 class="heading heading--H4">Heading H4</h4>
			<p class="paragraph paragraph--body">Body Text</p>
			<p class="paragraph paragraph--tag">this is me</p>
			<Button class="btn btn--btnText">Button</Button>
		</div>
		<script
			type="module"
			src="js/app.js"></script>
	</body>
</html>
