@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
	@include displayFlexRow;
	gap: 0.75rem;
	background-color: $cp-darkBlue;
	border-top: 2px solid $cp-darkGrey;
	border-left: 2px solid rgba($cp-darkGrey, 0.55);
	border-bottom: 2px solid $cp-lightGrey;
	border-right: 2px solid $cp-light;
	border-radius: 0.45rem;
	box-shadow: $bs-btn;
	width: fit-content;
	padding: 0.5em 1em;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.2s;
	&:link,
	&:visited {
		text-decoration: none;
		transform: translateY(0px);
	}
	&:hover {
		box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.55);
		transform: translateY(-2px);
	}
	&:active {
		border-bottom: 2px solid $cp-grey;
		border-right: 2px solid $cp-grey;
		box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.35);
		transform: translateY(-1px);
	}
	&--primary {
		background-color: rgba($cp-white, 0.45);
		padding: 0.3em 1.25em;
	}
	&--primary:hover {
		background-color: rgba($cp-white, 0.65);
	}
	&--secondary {
		background-color: rgba($cp-blue, 1);
	}
	&--secondary:hover {
		background-color: rgba($cp-darkBlue, 1);
	}
	&--about {
		margin-top: 1rem;
	}
	&--servicesCard {
		// border: none;
		// box-shadow: none;
		border-left: 2px solid rgba($cp-darkGrey, 0.85);
		background: linear-gradient(to bottom right, rgba($cp-white, 0.95), rgba($cp-white, 0.65) 35%, rgba($cp-white, 0.35) 85%), url("/img/background/HeroAndFooterBgLandscape.webp");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0.5em 0.5rem;
		width: 100%;
		height: min(25vw, 10rem);
	}
	&--servicesCard:hover {
	}
	&--portfolioCard {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
	&--about,
	&--skills,
	&--contact {
		margin-top: 2rem;
	}
	&--contactCta,
	&--socialMediaCard {
		@include displayFlexRow;
		gap: 0.75rem;
		background-color: rgba($cp-blue, 1);
		box-shadow: 0 0 12px 2px rgba($cp-dark, 0.45);
		margin-top: 1rem;
	}
	&--contactCta:hover,
	&--socialMediaCard:hover {
		background-color: rgba($cp-darkBlue, 1);
	}
	&--returnTopBtn {
		@include displayFlexRow;
		align-self: flex-end;
		background-color: rgba($cp-dark, 0.95);
		padding: 1rem;
		padding-left: 1.15rem;
		margin: 0;
		opacity: 1;
		position: sticky;
		top: 90vh;
		right: 5rem;
		float: right;
		z-index: 1000;
	}
}
.showReturnTopBtn {
	opacity: 1;
}
