@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.servicesCard {
	@include displayFlexColumn;
	gap: 1.25rem;
	width: min(100%, 35rem);
}

/////////////////////////////////////////////////////////////////////////////////////////
.projectCard {
	position: relative;
	aspect-ratio: 125 / 61;
	width: 90%;
	max-width: 400px;
	background-color: #ddd;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 0 15px 5px rgba($cp-dark, 0.45);
	cursor: pointer;
	transition: transform 0.2s;
}

.project-image {
	width: 100%;
	height: 100%;
}

.project-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.project-actions {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	z-index: 5;
}

.projectCard:hover {
	transform: scale(1.1);
}

.projectCard:hover .project-actions,
.projectCard.active .project-actions {
	transform: translateY(0);
}

.action {
	@include displayFlexRow;
	gap: 1rem;
	flex: 1;
	background: rgba($cp-dark, 0.95);
	border: none;
	border-top: 1px solid #444;
	padding: 0.75rem 1rem;
	transition: background 0.3s;
}

.action:hover {
	background: rgba($cp-white, 0.85);
	color: $cp-darkRed;
	.icon--projectCardBtnIconColor {
		stroke: $cp-darkRed;
	}
}

.info-popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; /* leave space for buttons */
	background: linear-gradient(to bottom right, $cp-white 5%, rgba($cp-blue, 0.25) 20%, rgba($cp-blue, 0.45) 55%, rgba($cp-blue, 0.85) 80%);
	color: #333;
	padding: 1.25rem 1.25rem 1rem;
	height: 100%;
	transform: translateX(-100%);
	transition: transform 0.4s ease;
	z-index: 2;
	pointer-events: none;
}

.info-popup .close-btn {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	background: rgba($cp-darkRed, 0.85);
	color: #fff;
	font-weight: 900;
	border: none;
	border-radius: 4px;
	padding: 0.35rem 0.5rem 0.25rem;
	font-size: 0.8rem;
	cursor: pointer;
	transition: all 0.2s;
	will-change: auto;
}

.info-popup .close-btn:hover {
	background: rgba($cp-red, 1);
	transform: scale(1.05);
}

.projectCard.show-info .info-popup {
	transform: translateX(0);
	pointer-events: auto;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: background 0.3s ease, opacity 0.3s ease;
}

.projectCard.show-info .overlay {
	background: rgba($cp-white, 0.95);
	opacity: 1;
	pointer-events: auto;
}

/////////////////////////////////////////////////////////////////////////////////////////
.portfolioCard {
	border: 1px solid red;
	box-shadow: 0 0 24px 8px rgba($cp-dark, 0.45);
	width: min(100%, 450px);
	position: relative;
	&__textAndctaContainer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}
	&__textContainer {
		padding: 1rem 2rem;
	}
	&__headingH4,
	&__paragraph {
		display: inline;
	}
	&__ctaBtnContainer {
		@include displayFlexRow;
		gap: 1rem;
	}
}
.skillsCard {
	@include displayFlexColumn;
	gap: 1.25rem;
	width: min(100%, 35rem);
	&__contentContainer {
		@include displayFlexColumn;
		gap: 0.25rem;
	}
	&__hr {
		background-color: $cp-darkBlue;
		width: 100%;
		margin: 0.25rem 0;
	}
}
.socialMediaCard {
	width: min(100%, 35rem);
	&__socialMediaCardIcon {
		float: left;
		padding-right: 1.75rem;
	}
	&__socialMediaCardHeadingContainer {
		@include displayFlexRow;
		justify-content: flex-start;
		gap: 0.5rem;
	}
	&__hr {
		background: linear-gradient(to right, $cp-darkBlue 10%, transparent 80%);
		max-width: 100%;
		height: 1px;
		margin: 0.25rem 0;
		border: none;
	}
}
