@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.skillsCard {
	@include displayFlexColumn;
	gap: 2rem;
	// background-color: rgba($cp-grey, 0.3);
	// border: 1px solid rgba($cp-dark, 0.15);
	// border-radius: 0.5rem;
	// box-shadow: 0 0 20px 2px rgba($cp-dark, 0.35);
	padding: 2rem;
	width: min(100%, 35rem);
	&__contentContainer {
		@include displayFlexColumn;
		gap: 0.25rem;
	}
	&__hr {
		background-color: $cp-darkBlue;
		width: 100%;
	}
}

.socialMediaCard {
	@include displayFlexColumn;
	gap: 2rem;
	background-color: rgba($cp-grey, 0.3);
	border: 1px solid rgba($cp-dark, 0.15);
	border-radius: 0.5rem;
	box-shadow: 0 0 20px 2px rgba($cp-dark, 0.35);
	padding: 5rem 2rem 4rem;
	&__socialMediaTextContentContainer {
		@include displayFlexColumn;
		gap: 1rem;
	}
	&__rightArrowIcon {
		margin-bottom: 0.55rem;
		transform: scale(1.5);
	}
}
