@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.icon {
	display: block;
	width: 2.8rem;
	height: 2.8rem;

	&--aboutPhoneIcon,
	&--servicesPhoneIcon,
	&--skillsPhoneIcon {
		border-radius: 0.5rem;
		box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
		margin-bottom: 0.25rem;
		width: 2rem;
		height: 2rem;
	}
	&--enterBtnIcon {
		width: 2.5rem;
		height: auto;
	}
	&--enterBtnIconColorWhite {
		stroke: rgba($cp-white, 0.75);
	}
	&--enterBtnIconColorRed {
		stroke: rgba($cp-white, 1);
	}
	&--servicesCardIcon,
	&--servicesCardLinkIcon {
		width: clamp(2.6rem, 9.8vw, 3.5rem);
		height: auto;
	}
	&--servicesCardLinkIconColor {
		fill: rgba($cp-darkRed, 1);
		stroke: rgba($cp-white, 0.65);
		stroke-width: 0.35px;
	}
	&--skillsCardSvgIcon {
		width: min(25vw, 10rem);
		height: min(25vw, 10rem);
	}
	&--techStackSvgIcon {
		display: block;
		width: min(25vw, 6rem);
		height: auto;
		// box-shadow: 2px 2px 10px 5px rgba(3, 3, 3, 0.45);
	}
	&--aboutPhoneIconColor {
		fill: $cp-white;
	}
	&--contactIconColor {
		fill: $cp-darkRed;
	}
	&--footerContactDetailsIcon {
		margin-top: 0.25rem;
		width: 1.8rem;
		height: 1.8rem;
	}
	&--footerWhatsAppIcon {
		width: 1.8rem;
		height: 1.8rem;
	}
	&--streetAddressIcon {
		width: 2.2rem;
		height: 2.2rem;
	}
	&--footerContactIconColor {
		fill: rgba($cf-blue, 0.85);
	}
	&--footerWhatsAppIconColor {
		fill: rgba($cf-blue, 0.85);
	}
	&--aboutBtnIcon,
	&--projectsBtnIcon,
	&--contactPageIcon {
		margin-bottom: 0.5rem;
	}
	&--aboutBtnIconColor,
	&--contactPageIconColor,
	&--projectsBtnIconColor {
		fill: $cp-white;
	}
	&--contactDetailsIconColor {
		fill: $cp-blue;
	}
	&--socialMediaCardIcon {
		filter: drop-shadow(0 0 12px rgba($cp-dark, 0.45));
		width: min(45%, 13.5rem);
		height: auto;
	}
	&--socialMediaCardLinkIcon {
		// margin-top: 1rem;
		width: 1.5rem;
		height: auto;
	}
	&--socialMediaFooterIcon {
		width: clamp(2.8rem, 9.5vw, 3.8rem);
		height: clamp(2.8rem, 9.5vw, 3.8rem);
	}

	// project cards button icon
	&--projectCardBtnIcon {
		width: 1.8rem;
		height: auto;
	}
	&--projectCardBtnIconColor {
		stroke: $cp-blue;
	}
}
@include respond(tab-land) {
	.icon {
		&--footerContactDetailsIcon {
			width: 2.2rem;
			height: 2.2rem;
		}
		&--footerWhatsAppIcon {
			width: 2.2rem;
			height: 2.2rem;
		}
		&--streetAddressIcon {
			margin-bottom: 1rem;
		}
	}
}
