@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.icon {
	display: block;
	width: 2.8rem;
	height: 2.8rem;
	&--aboutPhoneIcon {
		border-radius: 0.5rem;
		box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
		margin-bottom: 0.25rem;
		width: 2rem;
		height: 2rem;
	}
	&--aboutPhoneIconColor {
		fill: $cp-white;
	}
	&--contactIconColor {
		fill: $cp-blue;
	}
	&--contactDetailsIconColor {
		fill: $cp-blue;
	}
	&--socialMediaCardIcon {
		filter: drop-shadow(0 0 12px rgba($cp-dark, 0.45));
		// box-shadow: 0 0 22px 2px rgba($cp-dark, 0.35);
		width: 12rem;
		height: 12rem;
	}
}
