@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.logo {
	&--footer {
		display: block;
		width: clamp(27rem, 100vw, 30rem);
		height: auto;
		transform-origin: center;
		transition: transform 0.3s;
	}
	&--footer:hover {
		transform: scale(1.05);
	}
	&--designerAndDeveloperLogo {
		display: block;
		width: 10rem;
		height: auto;
		transform-origin: center left;
		transition: transform 0.3s;
	}
	&--designerAndDeveloperLogo:hover {
		transform: scale(1.1);
	}

	@include respond(tab-port) {
		&--designerAndDeveloperLogo {
			margin-bottom: 0.45rem;
		}
	}

	@include respond(tab-land) {
		&--footer {
			width: clamp(47rem, 150vw, 50rem);
			height: auto;
			transform-origin: top left;
			margin-bottom: 2rem;
		}
		&--designerAndDeveloperLogo {
			position: absolute;
			top: -0.75rem;
			transform-origin: center left;
		}
	}
}

.logoBox {
	@include displayFlexRow;
	&__textLower {
		color: $cf-white;
		font-size: clamp(1.4rem, 5vw, 1.6rem);
		font-family: "League Gothic", serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: "wdth" 100;
		letter-spacing: 1px;
		text-shadow: 2px 2px 2px rgba($cp-dark, 1);
	}
	&__textUpper {
		color: $cf-red;
		font-size: clamp(2.8rem, 7vw, 3rem);
		font-family: "Mochiy Pop One", serif;
		font-weight: 400;
		font-style: normal;
		text-shadow: 3px 3px 2px rgba($cp-dark, 1);
		transform: rotate(-5deg);
	}
}
