body {
      color: greenyellow;
      font-family: 'Arial', sans-serif;
      font-size: 1rem;
      line-height: 1.5;

      background-color: rgba(20, 20, 20,.85);

      margin: 0;
      padding: 0;
}