@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// heading H1 - font-family: "Alegreya", serif; <weight>: Use a value from 400 to 900
// heading H2- font-family: "Lalezar", sans-serif; <weight>: 400
// heading H3 & H4 - font-family: "Oswald", sans-serif; <weight>: Use a value from 200 to 700
// body text - font-family: "Lato", sans-serif; normal & italic <weight>: 100, 300, 400, 700 & 900
// button text - font-family: "Contrail One", sans-serif; <weight>: 400

.headingH1 {
	text-align: center;
	&__title {
		color: $cf-blue;
		font-family: "Alegreya", serif;
		font-size: clamp(2.8rem, 10vw, 5.5rem);
		font-weight: 900;
		font-style: normal;
		letter-spacing: 3px;
		text-align: center;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	}
	&__letterS {
		color: rgba($cf-blue, 0.95);
		font-size: clamp(5rem, 18vw, 9rem);
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	}
	&__subtitle {
		color: $cf-red;
		font-size: clamp(1.6rem, 6.5vw, 3.6rem);
		font-family: "Caveat", serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	}
	&--popia,
	&--paia,
	&--terms {
		color: rgba($cf-white, 0.95);
		text-align: left;
	}
}
.headingH2 {
	color: $cf-darkBlue;
	font-family: "Lalezar", sans-serif;
	font-size: clamp(2.6rem, 8vw, 4.5rem);
	font-weight: 900;
	font-style: normal;
	letter-spacing: 4px;
	text-align: left;
	text-shadow: 1.5px 1.5px 1px rgba($cp-dark, 0.45);
	text-transform: uppercase;
	&--popia,
	&--paia,
	&--terms {
		color: rgba($cf-darkBlue, 0.85);
		font-size: clamp(2rem, 7vw, 2.2rem);
		font-weight: 900;
		text-transform: uppercase;
	}
}
.headingH2Tagline {
	color: $cf-red;
	font-family: "Caveat", serif;
	font-optical-sizing: auto;
	font-size: clamp(1.4rem, 5vw, 3.3rem);
	font-style: normal;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1;
	text-align: left;
	text-shadow: 1px 1px 1px rgba($cp-darkBlue, 0.65);
}
.headingH3 {
	color: rgba($cp-darkBlue, 0.9);
	font-family: "Oswald", sans-serif;
	font-size: clamp(1.8rem, 4.7vw, 2rem);
	font-weight: 900;
	font-style: normal;
	letter-spacing: 2px;
	text-align: center;
	text-transform: capitalize;
	&--footerHeadingH3 {
		color: rgba($cf-blue, 0.75);
		text-shadow: 0 0 3px rgba(black, 1);
		text-transform: uppercase;
	}
	&--popia,
	&--paia,
	&--terms {
		color: rgba($cf-darkBlue, 0.75);
		font-size: clamp(1.8rem, 4.7vw, 2rem);
		font-weight: 700;
	}
}
.headingH4 {
	color: rgba($cf-red, 0.95);
	font-family: "Oswald", sans-serif;
	font-size: clamp(1.6rem, 4.5vw, 1.8rem);
	font-weight: 900;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 1.2;
	text-align: center;
	text-shadow: 1px 1px 1px rgba($cp-dark, 0.45);
	text-transform: uppercase;
	&--servicesCard {
		text-shadow: 1px 1px 1px rgba($cp-white, 0.45), 2px 2px 1px rgba($cp-dark, 0.25);
		text-align: left;
	}
	&--projectCard {
		color: rgba($cf-blue, 0.95);
		font-size: clamp(1.2rem, 4.2vw, 1.6rem);
		text-align: left;
		text-shadow: 1px 1px 1px rgba($cp-dark, 0.95);
		text-decoration: 1px solid underline;
		text-underline-offset: 3px;
		letter-spacing: 1px;
		margin-bottom: 0.5em;
	}
	&--socialMediaCard {
		text-align: left;
		// margin-top: 1rem;
		background: linear-gradient(to right, $cp-blue, $cp-darkBlue 20%, $cp-darkRed 75%, $cp-red 90%); /* Define your gradient */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		/* Optional for Firefox */
		background-clip: text;
		color: transparent;
		text-shadow: none;
	}
	&--footerHeadingH4 {
		color: rgba($cf-red, 0.95);
		font-weight: 900;
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
		text-transform: capitalize;
	}
	@media (min-width: 400px) {
		&--projectCard {
			font-size: clamp(1.6rem, 4vw, 1.8rem);
		}
	}
}
.paragraph {
	color: $cf-white;
	font-family: "Lato", serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	text-align: center;
	&--headingH1Intro,
	&--ctaIntroParagraph {
		line-height: 1.3;
		letter-spacing: 0px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	}
	&--about,
	&--servicesSection,
	&--portfolioSection,
	&--skillsSection {
		color: $cf-dark;
	}
	&--contactIntro,
	&--contactCta {
		color: $cf-dark;
	}
	&--contactDetails {
		color: $cf-dark;
		text-align: left;
		line-height: 1.2;
	}
	&--streetAddress {
		text-align: center;
	}
	&--socialMediaSection {
		color: $cf-dark;
	}
	&--portfolioCard,
	&--servicesCard,
	&--skillsCardDescription,
	&--socialMediaCard {
		color: $cf-dark;
	}
	&--portfolioCard {
		line-height: 1.2;
	}
	&--projectDesc,
	&--projectFeaturesText,
	&--projectTech {
		color: rgba($cf-dark, 0.9);
		font-size: clamp(1rem, 3.5vw, 1.4rem);
		letter-spacing: 0px;
		line-height: 1.2;
		text-align: left;
	}

	&--socialMediaCard {
		text-align: left;
		line-height: 1.6;
	}
	&--footerLogoBylineText,
	&--footerServicesIntroText,
	&--footerServicesText,
	&--footerServiceAreaItemText {
		color: rgba($cf-white, 0.85);
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		line-height: 1.2;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	}
	&--footerServicesIntroText {
		line-height: 1.8;
	}
	&--footerLogoBylineText-And {
		font-size: clamp(1.1rem, 4.5vw, 1.3rem);
	}
	&--footerServicesText {
		font-weight: 700;
	}
	&--footerServiceAreaItemText {
		font-size: clamp(1.2rem, 4.5vw, 1.4rem);
		text-align: center;
	}
	&--footerAddressDetails,
	&--footerContactDetails {
		color: rgba($cf-white, 0.85);
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		font-weight: 400;
		line-height: 1.2;
		text-align: left;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
		text-decoration: 2px underline;
		text-underline-offset: 3px;
	}
	&--footerAddressDetails {
		text-align: center;
	}
	&--copyright,
	&--terms,
	&--termsandconditions,
	&--poppi,
	&--paia,
	&--developer {
		color: rgba($cf-white, 0.85);
		font-size: clamp(1.2rem, 4vw, 1.4rem);
		line-height: 1.2;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	}
	&--terms,
	&--termsandconditions,
	&--poppi,
	&--paia {
		text-decoration: 1px underline;
		text-underline-offset: 3px;
	}
	// popia & paia
	&--poppi,
	&--paia,
	&--termsandconditions {
		color: rgba($cf-white, 0.85);
		text-align: left;
	}
	&--popiaHeader,
	&--paiaHeader,
	&--termsHeader {
		color: rgba($cf-white, 0.85);
		text-align: left;
	}
	&--legalClause {
		color: rgba($cp-dark, 0.85);
		text-align: left;
	}
	@media (min-width: 400px) {
		&--projectDesc,
		&--projectFeaturesText,
		&--projectTech {
			font-size: clamp(1.4rem, 3.5vw, 1.6rem);
		}
	}
	@include respond(tab-land) {
		text-align: left;
		&--footerLogoBylineText {
			font-size: clamp(3.4rem, 4.5vw, 3.6rem);
			font-weight: 700;
			text-align: left;
			.paragraph--footerLogoBylineText-And {
				font-size: clamp(3.2rem, 4.5vw, 3.4rem);
			}
		}
		&--footerServicesIntroText {
			font-size: clamp(1.4rem, 4.5vw, 1.6rem);
			font-weight: 400;
			line-height: 1.6;
			text-align: left;
		}
		&--footerServiceAreaItemText {
			font-size: clamp(1.4rem, 4.5vw, 1.6rem);
			font-weight: 400;
		}
		&--footerServicesText {
			font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		}
	}
}
.logoText {
	&--popia,
	&--paia,
	&--terms {
		color: rgba($cf-white, 0.85);
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	}
}
.btn {
	color: $cf-white;
	font-family: "Contrail One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: $btnTextSize;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
	text-shadow: 1px 1px 1px rgba($cp-dark, 0.45);
	&--primary {
		color: $cf-red;
		font-size: calc($btnTextSize + 0.2rem);
		font-weight: 600;
		text-shadow: 1px 1px 1px rgba($cp-dark, 0.65);
	}
	&--secondary {
		font-weight: 500;
	}
	&--action {
		color: $cf-blue;
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		letter-spacing: 1px;
	}
	&--returnTopBtn {
		color: $cf-white;
		font-weight: 900;
		span {
			transform: scale(2);
		}
	}
}
.navlinkText {
	color: $cf-white;
	font-family: "Contrail One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: $navlinkTextSize;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	transition: all 0.3s;
	&--footerNavlinkText {
		color: rgba($cf-white, 0.85);
		font-family: "Lato", serif;
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		font-weight: 700;
		line-height: 1.3;
		transition: all 0.3s;
	}
}
// .navlinkText:hover {
// 	color: $cf-blue;
// 	transform: scale(1.1);
// }
